.top-doctors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 64px 0;
  color: #262626;
  padding: 0 16px;
}

.top-doctors-title {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.top-doctors-description {
  font-size: 14px;
  text-align: center;
  max-width: 400px;
}

.top-doctors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px 16px;
  width: 100%;
  padding: 20px 0;
}

.top-doctor-card {
  border: 1px solid #C9D8FF;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.top-doctor-card:hover {
  transform: translateY(-10px);
}

.top-doctor-image {
  background-color: #EAEFFF;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.top-doctor-info {
  padding: 16px;
  text-align: center;
}

.availability {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  margin-bottom: 8px;
}

.available {
  color: #22c55e;
}

.not-available {
  color: #6b7280;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.available-dot {
  background-color: #22c55e;
}

.not-available-dot {
  background-color: #6b7280;
}

.doctor-name {
  font-size: 16px;
  font-weight: 500;
  color: #262626;
  margin: 4px 0;
}

.doctor-speciality {
  font-size: 12px;
  color: #5C5C5C;
}

.more-btn {
  background-color: #EAEFFF;
  color: #595959;
  padding: 12px 48px;
  border: none;
  border-radius: 9999px;
  margin-top: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.more-btn:hover {
  transform: scale(1.05);
}
