.contact-container {
  padding: 20px;
}

.contact-header {
  text-align: center;
  font-size: 24px;
  padding-top: 40px;
  color: #707070;
}

.contact-header span {
  color: #4a4a4a;
  font-weight: 600;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin: 40px 0 112px 0;
  font-size: 14px;
}

@media(min-width: 768px) {
  .contact-content {
    flex-direction: row;
  }
}

.contact-image {
  width: 100%;
  max-width: 360px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.section-title {
  font-weight: 600;
  font-size: 18px;
  color: #4a4a4a;
}

.info-text {
  color: #6b6b6b;
  line-height: 1.6;
}

.explore-btn {
  border: 1px solid #000;
  padding: 16px 32px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s;
  background: transparent;
}

.explore-btn:hover {
  background-color: #000;
  color: #fff;
}
