.appointments-container {
  margin-top: 3rem;
}

.appointments-title {
  padding-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4B5563;
  border-bottom: 1px solid #D1D5DB;
}

.appointments-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appointment-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #E5E7EB;
  align-items: center;
}

.appointment-image img {
  width: 9rem;
  background-color: #EAEFFF;
}

.appointment-details {
  color: #5E5E5E;
  font-size: 0.875rem;
}

.doctor-name {
  color: #262626;
  font-weight: 600;
  font-size: 1rem;
}

.address-title {
  color: #464646;
  font-weight: 500;
  margin-top: 0.25rem;
}

.datetime span {
  font-weight: 500;
  color: #3C3C3C;
}

.appointment-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  text-align: center;
}

.appointment-actions button {
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  min-width: 12rem;
  transition: all 0.3s;
}

.pay-btn {
  border: 1px solid #696969;
  color: #696969;
}

.pay-btn:hover {
  background-color: #4f46e5;
  color: white;
}

.stripe-btn, .razorpay-btn {
  border: 1px solid #696969;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paid-btn {
  background-color: #EAEFFF;
  color: #696969;
  border: none;
}

.completed-btn {
  border: 1px solid #16A34A;
  color: #16A34A;
}

.cancel-btn {
  border: 1px solid #696969;
  color: #696969;
}

.cancel-btn:hover {
  background-color: #DC2626;
  color: white;
}

.cancelled-btn {
  border: 1px solid #DC2626;
  color: #DC2626;
}
